html{
  font-size:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  background-color:#2E1A00;
}
header{
  font-size:0;
  background-color:#361D00;
  position: absolute;
  width:100%;
  top:0;
  z-index:50;
}
button{
  font-family:"open sans", sans-serif;
}
.head, .about{
  font-weight:normal;
  transition: background .5s ease,
              color .5s ease;
  display:inline-block;
  border:none;
  width:33.3%;
  height:40px;
  font-size:16px;
  margin:0;
  color:#361D00;
  text-align:center;
  background-color:#FADEBE;
  box-shadow: inset 0 0 25px rgba(77,41,0,0.6);
}
.head:hover, .about, .learn:hover{
  transition: background .5s ease,
              color .5s ease;
  background-color:#361D00;
  color:#FFF2E3;
  box-shadow: inset 0 0 25px rgba(250,222,190,0.6);
}
.about {
  font-weight:bold;
}
/*OTHER STUFF STARTS HERE*/
.stuff{
  background-image:linear-gradient(#2E1A00,#A1845F);
  margin-top: 40px;
  padding:10px;
  height:100%;
  margin-bottom: 60px;
}
h1, h2, .skills, .aboutintro, .facts, .skeleton, .facediv{
  display:block;
  margin: 0 auto;
  max-width:600px;
  margin-bottom: 20px;
}
.skills, .aboutintro, .facts{
  text-indent:50px;
}
h1{
  font-family:"oswald", sans-serif;
  font-size:32px;
  color:rgba(255,255,255,.6);
}
h2{
  color:rgba(255,255,255,.6);
  font-size:22px;
  font-family:"oswald", sans-serif;
}
p{
  display:block;
  margin: 0 auto;
  font-size:16px;
  color:#FFF2E3;
  line-height:180%;
}
.skeleton{
  background-image:url('http://www.ucmp.berkeley.edu/diapsids/saurischia/velociraptor2_skrep.jpg');
  background-size:95% auto;
  background-position:center;
  background-repeat:no-repeat;
  background-color:rgba(255,255,255,1);
  width:100%;
  height:200px;
  max-width:600px;
  opacity:.8;
  box-shadow:inset 0px 0px 15px black;
}
.facediv{
  height:20%;
  background: white;
  max-width:600px;
  box-shadow:inset 0 0 15px black;
  opacity:0.8;
}
.face{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    display:inline-block;
    margin: 10% 0 10% 10px;
    width:93%;
}

/*OTHER STUFF ENDS HERE*/
footer{
  position: relative;
  padding:0;
}
.copy, .learn{
  width:97%;
  height:40px;
  position: absolute;
  padding:20px 1.5% 0 1.5%;
  margin:0;
  bottom:0;
  background-color:#FADEBE;
  color:#361D00;
  font-size:13px;
}
.learn{
  transition: background .5s ease,
              color .5s ease;
  width:75px;
  background-color:transparent;
  right:0;
  font-size:13px;
  color:#361D00;
  z-index:3;
  text-align:right;
}
a{
  text-decoration:none;
}
a:hover{
  color:#FFF2E3;
}

@media screen and (min-width:600px){
  header{
    position: fixed;
    top:0;
  }
  h1{
    font-size:50px;
  }
  h2{
    font-size:30px;
  }
  p{
    font-size:18px;
  }
  .head, .about{
    font-size:18px;
    height:60px;
  }
  .stuff{
    margin-top: 60px;
    padding:20px;
  }
  .skeleton, .facediv{
    max-width:900px;
    box-shadow:inset 0 0 25px black;;
  }
  .skeleton{
    height:420px;
  }
  h1, h2, .skills, .aboutintro, .facts{
    max-width:700px;
  }
  .copy, .learn{
    height:50px;
    font-size:18px;
    position: fixed;
    bottom:0;
  }
  .learn{
    width:100px;
  }
}
