html{
  font-size:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  background-color:#2E1A00;
}
header{
  font-size:0;
  background-color:#361D00;
  position: absolute;
  width:100%;
  top:0;
  z-index:50;
}

form{
  display:inline-block;
  width:33.3%;
}

button{
  font-family:"open sans", sans-serif;
}
.head, .about{
  font-weight:normal;
  transition: background .5s ease,
              color .5s ease;
  display:inline-block;
  border:none;
  height:40px;
  font-size:16px;
  margin:0;
  color:#361D00;
  text-align:center;
  background-color:#FADEBE;
  box-shadow: inset 0 0 25px rgba(77,41,0,0.6);
}
.head:hover, .about, .learn:hover{
  transition: background .5s ease,
              color .5s ease;
  background-color:#361D00;
  color:#FFF2E3;
  box-shadow: inset 0 0 25px rgba(250,222,190,0.6);
}
.head{
  width:100%;
}
.about {
  font-weight:bold;
  width:33.3%;
}
/*OTHER STUFF STARTS HERE*/
.stuff{
  background-image:linear-gradient(#2E1A00,#A1845F);
  margin-top: 40px;
  padding:10px;
  height:100%;
  margin-bottom: 40px;
}
h1, h2, .skills, .aboutintro, .facts, .face, .hunt{
  display:block;
  margin: 0 auto;
  max-width:600px;
  margin-bottom: 20px;
}
.skills, .aboutintro, .facts{
  text-indent:50px;
}
h1{
  font-family:"oswald", sans-serif;
  font-size:32px;
  color:rgba(255,255,255,.6);
}
h2{
  color:rgba(255,255,255,.6);
  font-size:22px;
  font-family:"oswald", sans-serif;
}
p{
  display:block;
  margin: 0 auto;
  font-size:16px;
  color:#FFF2E3;
  line-height:200%;
}
.face, .hunt{
  height:300px;
  width:100%;
  max-width:600px;
}
.face{
  background-image:url('http://i.imgur.com/XbMX1og.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-color:rgba(255,255,255,1);
  opacity:.8;
  box-shadow:inset 0px 0px 15px black;
}
.hunt{
  background-image:url("http://4.bp.blogspot.com/-IaayrdHDISs/UbjdYe65hdI/AAAAAAAAAeg/jgJhPKdogJU/s1600/the_velociraptor_hunting_dance_by_ewilloughby-d68f94a.jpg");
  background-size:100% auto;
  background-position:center;
  background-repeat:no-repeat;
  opacity:0.8;
  box-shadow:inset 0px 0px 25px black;
}

/*OTHER STUFF ENDS HERE*/
footer{
  position: relative;
  padding:0;
}
.copy, .learn{
  width:97%;
  height:35px;
  position: absolute;
  padding:0px 1.5% 5px 1.5%;
  margin:0;
  bottom:0;
  background-color:#FADEBE;
  color:#361D00;
  font-size:13px;
}
.learn{
  transition: background .5s ease,
              color .5s ease;
  width:75px;
  background-color:transparent;
  right:0;
  font-size:13px;
  color:#361D00;
  z-index:3;
  text-align:right;
}

a{
  text-decoration:none;
}
a:hover{
  color:#FFF2E3;
}

@media screen and (max-width:450px){
  .face{
    height:240px;
  }
  .hunt{
    height:270px;
  }
}
@media screen and (min-width:500px){
  .hunt{
    height:370px;
  }
}

@media screen and (min-width:570px){
  .hunt{
    height:440px;
  }
}
@media screen and (min-width:600px){
  header{
    position: fixed;
    top:0;
  }
  h1{
    font-size:50px;
  }
  h2{
    font-size:30px;
  }
  p{
    font-size:18px;
  }
  .head, .about{
    font-size:18px;
    height:40px;
  }
  .stuff{
    margin-top: 60px;
    padding:20px;
  }
  .face, .hunt{
    box-shadow:inset 0 0 45px black;;
  }
  .face{
    max-width:1000px;
    background-size:1000px;
    height:400px;
  }
  .hunt{
    max-width:900px;
    background-size:cover;
  }
  h1, h2, .skills, .aboutintro, .facts{
    max-width:800px;
  }
  .copy, .learn{
    height:40px;
    padding-top:10px;
    font-size:18px;
    position: fixed;
    bottom:0;
  }
  .learn{
    width:100px;
  }
}
@media screen and (min-width:700px){
  .hunt{
    height:600px;
  }
}
@media screen and (min-width:800px){
  .hunt{
    height:700px;
  }
}

