html{
  font-size:0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  background-color:#2E1A00;
}
header{
  font-size:0;
  background-color:#361D00;
  position: absolute;
  width:100%;
  top:0;
  z-index:50;
}

form{
  display:inline-block;
  width:33.3%;
}

button{
  font-family:"open sans", sans-serif;
}
.head, .defense{
  font-weight:normal;
  transition: background .5s ease,
              color .5s ease;
  display:inline-block;
  border:none;
  height:40px;
  font-size:16px;
  margin:0;
  color:#361D00;
  text-align:center;
  background-color:#FADEBE;
  box-shadow: inset 0 0 25px rgba(77,41,0,0.6);
}
.head:hover, .defense{
  transition: background .5s ease,
              color .5s ease;
  background-color:#361D00;
  color:#FFF2E3;
  box-shadow: inset 0 0 25px rgba(250,222,190,0.6);
}
.head{
  width:100%;
}
.defense {
  font-weight:bold;
  width:100%;
}

/*OTHER STUFF STARTS HERE*/
.stuff{
  padding:10px;
  margin-top: 40px;
  padding-bottom: 40px;
  background-image:linear-gradient(#2E1A00,#A1845F);
}
h1,h2,p,.compare{
  max-width:600px;
  display:block;
  margin: 0 auto;
}
h1, h2{
  font-family:"oswald", sans-serif;
  margin-bottom: 20px;
}
h1{
  font-size:32px;
  color:rgba(255,255,255,.6);
}
h2{
  font-size:22px;
  color:rgba(255,255,255,.6);
}
p{
  font-size:15px;
  color:#FFF2E3;
  line-height:200%;
  margin-bottom: 20px;
}
.defint, .indoors, .outdoors{
  text-indent:50px;
}
p.caption{
  text-indent:0;
  margin-top: 5px;
  font-size:12px;
  line-height:150%;
  text-align:center;
}
.compare{
  background-color:rgba(255,255,255,.3);
  width:100%;
  height:auto;
  box-shadow:inset 0 0 40px #2E1A00;
}
.compare img{
  width:100%;
  margin-bottom:20px;
}

.door{
  width:100%;
  background-color:rgba(255,255,255,.5);
  box-shadow:inset 0 0 40px #2E1A00;
}
.door img{
  width:100%;
  padding:10px 0 10px 0;
}
/*OTHER STUFF ENDS HERE*/
footer{
  position: relative;
  width:100%;
  height:55px;
  background-color:#FADEBE;
  padding:0;
}
.copy{
  position: absolute;
  bottom:0;
  height:35px;
  padding:15px 1.5% 5px 1.5%;
  margin:0;
  background-color:#FADEBE;
  color:#361D00;
  font-size:13px;
}

a{
  text-decoration:none;
}

@media screen and (max-width:460px){
  h1{
    font-size:27px;
  }
}
